.demo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.demo-wrap ul {
  width: 100%;
  padding: 0;
}

.demo-wrap li {
  list-style: none;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 16px;
  padding: 10px 0;
  box-shadow: 4px 4px 8px #ddd;
}
